<div class="row">
  <nav>
    <ul class="nav nav-pills">
      <li class="presentation"><a href="/" class="logo-link"><img src="/assets/noaa-logo.png" alt="National Fisheries"></a></li>
      <li class="presentation" *ngFor="let item of links"><a href="/{{item.path}}">{{item.name}}</a></li>
      <li class="presentation">
        <div class="search-box">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <input type="text" name="search" placeholder="Search" class="form-control">
        </div>
      </li>
    </ul>
  </nav>
</div>