#footer-nav {
    padding:25px 0;
    background: linear-gradient(to top, navy,80%, darkcyan);
    border-radius: 15px 15px 0 0;
    color: white;
}

ul {
    display: block;
    margin-left: 35%;
    margin-bottom:25px;
}

ul li {
    color: white;
    font-weight: 800;
    padding-right: 45px;
}

.small-type {
    font-size: 70%;
}