<div class="footer row">
  
  <div class="col-md-8 col-md-offset-2">
    
    <div class="col-md-3 col-md-offset-2">
      <h4>Contact Us</h4>
      <p>NOAA Fisheries<br/>
      1315 East-West Highway<br/>
      Silver Spring, MD 20910</p>
    </div>

    <div class="col-md-6 text-center">
      <h4>Follow Us</h4>
      <ul class="list-inline social-links">
        <li><a href="#"><img src="/assets/social_icons.png" alt="social icons" /></a></li>
      </ul>
    </div>
    
    <div class="col-md-12 copyright">
      <p class="small-type text-center">Copyright 2016 All rights reserved. Information is property of the U.S. federal government</p>
    </div>

  </div>

</div>