#sidebar-main {
    height:600px;
    overflow-y: hidden;
}

#sidebar-pics {
    height:600px;
    overflow-y: scroll;
}

.slide img {
    width: 100%;
    height:auto;
}

.slide-caption {
    position:relative;
    top:-160px;
    height:160px;
    padding: 5px 15px;
    background-color: rgba(0,0,200,0.5);
    color: white;
}

.slide-date, .slide-credit {
    font-size: 75%;
    font-style: italic;
}

.sidebar .list-group-item {
    padding: 0;
    border:none;
}

.sidebar h4 {
    background-color:navy;
    color:white;
    margin: 0;
    padding:20px 10px;
}

img.sidebar-pic {
    width:100%;
    height: auto;
}

.sidebar ul li span {
    display:block;
    font-weight: 800;
    background: linear-gradient(aqua, 90%, rgba(0,70,230,0.7));
    border-top:3px solid navy;
    padding:5px 10px;
}