div.feature {
    /*border:1px solid navy;
    border-radius: 15px;*/
    margin:25px 0;
    padding: 15px;
}

h2 {
    color: #999;
    margin-left: 12px;
}

.article {
    padding:5px 25px 5px 15px;
    height:370px;
    margin-bottom: 10px;
}

.article img {
    /*float:left;
    height:120px;*/
    /*margin: 0 15px 15px 0;*/
    width: 100%;
}

.topic-badge {
    display:inline-block;
    background-color: black;
    color: white;
    padding:10px 15px;
    position:relative;
    top: -40px;
    cursor: pointer;
}

.tease {
    display:block;
    position:relative;
    top: -40px; 
}

.tease a {
    text-decoration: none;
    color: black;
}

.topic-btn {
    display:block;
    margin-top:15px;
}

.spacer {
    height: 10px;
    clear:both;
}

/*.topic-pills ul li {
    border: 0;
    background-color: #efefef;
    padding:10px 5px;
}*/