<div class="col-md-8 col-md-offset-2">
    
  <div class="feature">
    <h2>Fisheries News</h2>

    <div *ngFor="let article of articles | filterTopic:filteringFor | slice:0:articleMax" class="article col-md-6">
      <img src="/assets/{{article.pic}}" alt="{{article.title}}">
      <div class="topic-badge">{{article.topic}}</div>

      <!--<button type="button" class="btn btn-default topic-btn" (click)='filterFor(article.topic)'>{{article.topic}}</button>-->
      
      <div class="tease">
        <h4>{{article.title}}</h4>
        <p>{{article.body | slice:0:60 }}</p>
      </div>
      <!--<i>Published: {{article.date}}</i>-->
    </div>

    <div *ngIf="hideMoreButton()" class="col-md-12 center-block">
      <button type="button" (click)="getMoreArticles()" class="btn btn-default btn-md center-block">More</button>
    </div>

<!--doesn't work heere-->
<!--(articles | filterTopic:filteringFor).length === 0-->

    <div [hidden]="noArticles()" class="col-md-12">
      <h4 class="text-center">No articles found for that topic.</h4>
    </div>

    <div class="topic-pills col-md-12">
      <div class="btn-group btn-group-xs">
        <h5>Filter by Topic</h5>
        <button *ngFor="let t of topics" (click)="filterFor(t.name)" class="btn btn-info">{{t.name}}</button>
        <button type="button" (click)="clearFilter()" class="btn btn-default btn-warning">Clear</button>
      </div>
    </div>

    <div class="spacer row"> </div>
    
  </div>

</div>